@import "tailwindcss";

body {
    background-color: #020617;
    /* bg-slate-950 */
    color: #f8fafc;
    /* text-slate-50 */
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/* Para animação suave do QR Code */
.qr-code-container {
    transition: transform 0.3s ease;
}

.qr-code-container:hover {
    transform: scale(1.05);
}